<!DOCTYPE html>
<html lang="cat">
<head>
    <meta charset="UTF-8">
    <title>Secció de l'alumnat</title>
</head>
<body>
    <h1>Assignatures disponibles: </h1>
    <button id="creaTemaButton">Subscriu-te a aquesta assignatura (no va encara)</button>
    <section>
      <div id="assignaturaContenidor"></div>
      </ul>
    </section>
    <hr>
    <section>
        <h1>Temes de la assignatura</h1>
        <p>Clica sobre un dels temes per començar a fer tests!</p>
        <div id="assignaturaTemes"></div>
        </ul>
    </section>
    <script>
    function renderAssignatura() { 
        const params = new URLSearchParams(window.location.search)
        const assigID = params.get("AssigID")
        const profID = params.get("ProfID")
        console.log(profID)
        fetch(`/api/getUnaAssignatura/${assigID}`)
            .then(response => response.json())
            .then(data => {   
                var assignatura = data.assignatura[0]
                if(assignatura) {
                    var assignaturaList = document.createElement("ul")
                    assignaturaList.innerHTML = `
                        <h1> La meva assignatura:   ${assignatura.Nom}</h1>
                        <li><strong>Assignatura ID:</strong> ${assignatura.AssignaturaID}</li>
                        <li><strong>Professor ID:</strong> ${assignatura.ProfessorID}</li>
                        <li><strong>Descripció:</strong> ${assignatura.Descripcio || "No s'ha afegit una descripció"}</li>
                    `
                    assignaturaContenidor.appendChild(assignaturaList)
                    var assignaturaTema = document.createElement("ul")
                    assignaturaTema.innerHTML = ""
                    if(data.assignatura[0].NomTema != null) { //si hi ha minim un tema, aquesta condicio la pasa
                        data.assignatura.forEach(element => {
                        var li = document.createElement('li')
                        var a = document.createElement('a')
                        a.textContent = element.NomTema
                        a.href = `/alumnePreguntaAleatoria/${element.TemaID}` 
                        li.appendChild(a)
                        assignaturaTemes.appendChild(li)        
                    })
                    } else { // si no hi han temes crea un text predefinit
                        var li = document.createElement("li")
                        li.textContent = "No hi han temes per aquesta assignatura!"
                        assignaturaTemes.appendChild(li)
                    }                
                    document.querySelector("button").setAttribute("onclick", `window.location.href = "/alumneSubscriuteAssignatura?Assignatura=${assignatura.AssignaturaID}"`)
                }     
            })
            .catch(error => {
                console.error('Error al obtenir la assignatura: ', error)
            })
    }
    

    document.addEventListener("DOMContentLoaded", renderAssignatura)
    </script>
</body>
</html>