<!DOCTYPE html>
<html lang="cat">
<head>
    <meta charset="UTF-8">
    <title>Secció de l'alumnat</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <div id="app">
        <div class="vertical-line-left"></div>
        <div class="vertical-line-right"></div>
        <a href="/"><img class="topLeftLogo" src="/images/QG.png" alt="Logo QGenerator.AI"></img></a>
        <div class="content">

            <h1>Problema generat aleatoriament amb IA!</h1>
            <button class="boto-enrera" id="botoEnrera">Tornar Enrera</button>

            <section>
            <div id="problemaContenidor"></div>
            <form id="formProblemes" method="post">
                <p>Escriu aqui la teva resposta: </p>
                <input type="text" name="resposta">
                <button class="boto-css" type="submit">Verifica la teva solucio!</button>
            </form>
            

            </ul>
            </section>
            <script src="/javascript/alumnePregunta.js"> </script>
        </div>
    </div>
</body>      
</html>