<!DOCTYPE html>
<html lang="cat">
<head>
    <meta charset="UTF-8">
    <title>Secció de l'alumnat</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body id="professorPage">
    <div id="app">
        <div class="vertical-line-left"></div>
        <div class="vertical-line-right"></div>
        <a href="/"><img class="topLeftLogo" src="/images/QG.png" alt="Logo QGenerator.AI"></img></a>
        <div class="content">
            <h1>Assignatures disponibles: </h1>
            <h2>Subscriu-te una de les següents assignatures:</h2>
            <section>
            <div id="assignaturesList"></div>
            </ul>
            </section>
            <script src="/javascript/afegirAssignaturesAlumnes.js"> </script>
        </div>
    </div>
</body>
</html>