<!DOCTYPE html>
<html lang="cat">
<head>
    <meta charset="UTF-8">
    <title>Secció del professorat</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/help.css">
</head>
<body id="professorPage">
  <div id="app">
    <div class="vertical-line-left"></div>
    <div class="vertical-line-right"></div>
    <a href="/"><img class="topLeftLogo" src="/images/QG.png" alt="Logo QGenerator.AI"></img></a>
    <div class="content">
      <h1>Benvingut a la teva aula professor</h1>
      <section>
        <div class="boto-h2-inline">
          <h2>Les meves assignatures</h2>
          <button class="boto-css" onclick="window.location.href = '/crearAssingatura'">Crea una nova assignatura</button>
        </div>
        <ul id="assignaturesList" class="anti-overflow">
        </ul>
      </section>
      <script src="/javascript/professor.js"> </script>
    </div>
    <div class="help">
      <div class="question">?</div> 
      <div class="popup">
        <h3>Ajuda per els professors!</h3>
        <p>Desde la pàgina principal, podràs veure les assignatures que haguis creat anteriorment i crear-ne de noves.</p>
        <p>Si es la primera vegada que entres, pots crear una nova assignatura desde el botó de dalt, o desde aquí mateix:</p> 
        <div class="links">
          <a href="/crearAssingatura"> Crea una nova assignatura!</a>          
        </div>
        <p>Un cop tinguis assignatures creades, pots clicar sobre d'elles per administrar-les!</p>

      </div>
    </div>
  </div>
</body>
</html>