<!DOCTYPE html>
<html lang="cat">
<head>
    <meta charset="UTF-8">
    <title>Secció de l'alumnat</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/help.css">
</head>
<body id="professorPage">
  <div id="app">
    <div class="vertical-line-left"></div>
    <div class="vertical-line-right"></div>
    <a href="/"><img class="topLeftLogo" src="/images/QG.png" alt="Logo QGenerator.AI"></img></a>
    <div class="content">
      <h1>Benvingut a la secció dels alumnes</h1>
      <section>
        <div class="boto-h2-inline">
          <h2>Les meves assignatures</h2>
          <button class="boto-css" onclick="window.location.href = '/afegirAssignatura'">Afegeix una assignatura a la teva llista!</button>
        </div>
        <ul id="assignaturesList">
        </ul>
      </section>
      <script src="/javascript/alumne.js"></script>
      <section>
          <h2>Els meus professors</h2>
          <ul id="professorList"> </ul>
      </section>
      <div class="help">
        <div class="question">?</div> 
        <div class="popup">
          <h3>Ajuda per els alumnes!</h3>
          <p>Desde la pàgina principal, podràs veure les assignatures i els professors que hagis afegit anteriorment</p>
          <p>Si es la primera vegada que entres, pots afegir noves assignatures desde el següent botó:</p> 
          <div class="links">
            <a href="/afegirAssignatura">Afegeix assignatures a la teva llista!</a>          
          </div>
          <p>Un cop tinguis assignatures en la teva llista, pots clicar sobre d'elles per veure els seus temes disponibles!</p>
  
        </div>
      </div>
    </div>
  </div>
</body>
</html>