<!DOCTYPE html>
<html lang="cat">
<head>
    <meta charset="UTF-8">
    <title>Secció del professorat</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/help.css">
</head>
<body id="professorPage">
    <div id="app">
        <div class="vertical-line-left"></div>
        <div class="vertical-line-right"></div>
        <a href="/"><img class="topLeftLogo" src="/images/QG.png" alt="Logo QGenerator.AI"></img></a>
        <div class="content">

            <h1>Informació del tema</h1>
            <section>
            <div id="assignaturaContenidor"></div>
            </section>
            <section>
                <div class="boto-h2-inline">
                    <h2>Problemes del tema</h2>
                    <button class="boto-css" id="creaProblemaButton">Crea nous problemes</button>
                </div>
                <div id="assignaturaTemes"></div>
            </section>
            <script src="/javascript/tema.js"></script>
        </div>
    </div>
</body>
</html>