<!DOCTYPE html>
<html lang="cat">
<head>
    <meta charset="UTF-8">
    <title>Secció del professorat</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/help.css">
</head>
<body id="professorPage">
    <div id="app">
        <div class="vertical-line-left"></div>
        <div class="vertical-line-right"></div>
        <a href="/"><img class="topLeftLogo" src="/images/QG.png" alt="Logo QGenerator.AI"></img></a>
        <div class="content">

            <h1>Informació del tema</h1>
            <button id="botoEnrera"  class="boto-enrera">Tornar enrera</button>

            <section>
            <div id="assignaturaContenidor"></div>
            </section>
            <section>
                <div class="boto-h2-inline">
                    <h2>Problemes del tema</h2>
                    <button class="boto-css" id="creaProblemaButton">Crea nous problemes</button>
                </div>
                <div id="assignaturaTemes"></div>
            </section>
            <div class="help">
                <div class="question">?</div> 
                <div class="popup">
                  <h3>Ajuda per els professors!</h3>
                  <p>Desde aquesta pàgina pots veure la informació d'un tema en concret</p>
                  <p>Pots clicar sobre un dels temes per poder veure o crear problemes aleatoris parametritzats amb l'ús d'intel·ligència artificial.</p>
                  <p>Si encara no has generat cap problema, en pots començar a generar-ne desde el botó de dalt!</p>
                 
                </div>
              
            </div>
            <script src="/javascript/tema.js"></script>
        </div>
    </div>
</body>
</html>